<div class="conainer dialog">
    <div class="row head d-flex ">
        <div class="col-md-11">
            <h1><i class="fa-solid fa-circle-exclamation text-danger"></i>Important Note</h1>


        </div>

    </div>

    <p>This website is optimized for desktop view and for Mobile view its larger devices (max-width: 1170px),<br> for better experience you can use relevant devices in future it will be upgraded for all type divice sizes</p>
    <button class="btn btn-primary" (click)="close()">close</button>
</div>