.home p {
    /* position: absolute;
    top: 50%;
    left: 40%;
    text-align:start; */
    opacity: 0;
    animation: fadeIn 4s ease-out 2s forwards;
}

.homeImage img {
    /* position: absolute;
 
     top: 10%;
     left: 10%; */
    width: 300px;
    border: 2px solid rgb(28, 160, 5);
    opacity: 0;
    animation: fadeIn 2s ease-out 1s forwards;
}

.spinner-border {
    width: 100px;
    height: 100px;
    color: rgb(28, 160, 5);
    position: absolute;
    left: 50%;
    top: 50%;
}

.home-btn button {
    opacity: 0;
    border: 2px solid rgb(28, 160, 5);
    border-radius: 10%;
    animation: fadeIn 5s ease-out 3s forwards;
}

.home-btn:hover {
    transform: scale(1.1);
}

.homeImage img:hover {
    transform: scale(1.1);
    transition-delay: 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.name {
    color: rgb(28, 160, 5);
}

.home-btn button {
    background-color: rgb(28, 160, 5);
}


/* @media screen and (max-width:786px){
  .home p{
       top: 90%;
       color: black;
    
     }
     .homeImage img{
         left: 1%;
     }
 } */


/* @media (max-width: 768px) { 
     .home p{
         top: 90%;
         
       }
  } */

@media (max-width: 768px) {
    .homeImage img {
        position: absolute;
        /* width: 100%; */
        max-height: 420px;
        right: 4%;
    }
    .home {
        position: absolute;
        top: 100%;
        width: 220px;
        text-align: center;
        left: 49%;
    }
    .home-btn btn {
        margin-top: 50%;
    }
}

@media (max-width:1170px) {
    .homeImage {
        position: absolute;
        max-height: 410px;
        right: 6%;
    }
    .home {
        position: absolute;
        top: 90%;
        /* width: 230px; */
        /* text-align: center; */
        left: 45%;
    }
    .home p {
        word-wrap: break-word;
        width: 370px;
    }
    .home-btn {
        position: absolute;
        top: 104%;
    }
}