<div class="container-fluid ">
    <div class=" align-items-center skills w-100 ">
        <h2 class="text-white text">My skills</h2>
        <div class="row " *ngFor=" let skills of technicalSkills">
            <div class="col ">
                <p class="text-white"><img class="icon" src={{skills.imagePath}} alt="" width="20px">&nbsp;{{skills.skillName}}</p>
                <div class="progress w-50" role="progressbar" aria-label="Example 1px high" [attr.aria-valuenow]="skills.progress" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar  " [style.width.%]="skills.progress"></div>
                </div>

            </div>
        </div>

    </div>


</div>