.form-control {
    background-color: transparent;
    outline: 2px solid rgb(28, 160, 5);
    border: none;
}

.input-placeholder-color::placeholder {
    color: rgb(242, 235, 235);
    /* Replace 'red' with your desired color */
}

.progress-bar {
    background-color: rgb(28, 160, 5);
    border-right: 50%;
}

.progress {
    background-color: black;
}

.skills {
    /* position: absolute; */
    position: relative;
    left: 23%;
}

.icon {
    width: 25px;
    height: 20px;
    /* position: fixed; */
    /* position: absolute; */
}


/* .icon{
    mix-blend-mode: color-burn;
} */

@media (max-width: 768px) {
    .skills {
        position: absolute;
        top: 127%;
    }
}

@media (max-width:1170px) {
    .footer {
        position: absolute;
        top: 197%;
    }
    .skills {
        position: absolute;
        top: 142%;
    }
    .container-fluid {
        width: 100%;
        /* Override width */
        margin: 0;
        /* Override margin */
        padding: 0;
    }
}