.progress-bar {
    background-color: rgb(28, 160, 5);
    border-right: 50%;
}

.progress {
    background-color: black;
}

.skills {
    position: absolute;
    left: 23%;
}

.icon {
    width: 25px;
    height: 20px;
    /* position: fixed; */
    /* position: absolute; */
}


/* .icon{
    mix-blend-mode: color-burn;
} */

@media (max-width: 768px) {
    .skills {
        position: absolute;
        top: 124%;
    }
}