.carousel-item {
    left: 350px;
}

.card {
    background-color: transparent;
    border: 2px solid rgb(28, 160, 5);
}

.card-header {
    /* border: 2px solid  rgb(28, 160, 5) ; */
    border-bottom: 2px solid rgb(28, 160, 5);
}

.carousel.carousel-control-prev-icon {
    color: rgb(28, 160, 5);
    max-width: 20px;
}


/* .carousel-control-prev-icon .carousel-control-next-icon{
    background-color:rgb(28, 160, 5) ;
    color:rgb(28, 160, 5) ;
} */


/* .carousel-control-prev-icon::before{
    color: red !important ;
    background-color: rgb(28, 160, 5);
}
.carousel-control-prev{
    color: red !important ;
} */

@media (max-width: 768px) {
    .carousel {
        position: relative;
        top: 700px;
        left: 1%;
    }
    .carousel-item {
        left: 5%;
        width: 570px;
    }
    .card-body {
        max-height: 150px;
        width: 300px;
        /* overflow-x: hidden; */
        overflow-y: scroll;
        /* scrollbar-width:40px;
        scrollbar-color: red; */
    }
}

@media (max-width:1170px) {
    .carousel {
        position: absolute;
        top: 730px;
        left: 1%;
        width: 390px;
    }
    .carousel-item {
        left: 12%;
        width: 580px;
    }
    .card-body {
        max-height: 100px;
        width: 300px;
        /* overflow-x: hidden; */
        overflow-y: scroll;
    }
}