<div class="container-fluid">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let details of projectdetails; let i = index" [class.active]="i === currentindex">
        <div class="card text-white w-50">
          <div class="card-header">
            <p>{{details.projectname}}</p>
          </div>
          <div class="card-body border-success" >
            <blockquote class="blockquote mb-0">
              <p  class="text-white">{{details.description}}</p>
              <!-- <p  class="text-white">{{details.description | slice:0:100...}}</p> -->
              <!-- <div class="read-more-link"  (click)="toggleDescription()"> {{isExpanded ? "readless":"readmore"}}</div> -->
              <footer class="blockquote-footer">{{details.duration}} <cite title="Source Title">Source Title</cite></footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" (click)="prevSlide()">
      <span class="carousel-control-prev-icon " aria-hidden="true"></span>
      <span class="visually-hidden ">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" (click)="nextSlide()">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div><br>
  
 <app-technical-skills></app-technical-skills>

  
  