<div class="container-fluid ">


    <header>
        <nav class="nav d-flex text-white">


            <div class="col-md-10 fs-5 header ">
                <img src="../assets/logo1.png " alt="" width="20px"> MyPortfoliooo
            </div>
            <div class="row d-flex justify-content-end ">
                <div class="col d-flex nav-name">
                    <a routerLink="Homepage">Home</a>&nbsp;&nbsp;
                    <a href="">Contact</a>

                </div>


            </div>
        </nav>
    </header>



</div><br>
<div>
    <router-outlet></router-outlet>

</div>